@import url(./global.css);

body {
    width: 100%;
    height: auto;
}

.conteudo-principal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}


header {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

header > img {
    width: 220px;
    height: 56px;
}

header > nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

header > nav > a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

header > nav > a:hover {
    text-shadow: 0.5px 0.5px 0.5px var(--dark);
    transform: scale(1.05);
}

header > nav > a.active {
    color: var(--dark);
}

header > nav > button {
    width: 231px;
    height: 68px;
    border-radius: 14px;
    border: 1px solid var(--dark);
}

header > nav > button:hover {
    background-color: var(--dark);
    color: var(--grey);
}

main {
    width: 100%;
    display: flex;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
}

.main-text {
    width: 531px;
    height: 481px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.main-image {
    width: 600px;
    height: 515px;
}

.btn-main {
    width: 264px;
    height: 68px;
    background-color: var(--dark);
    border-radius: 14px;
}

.btn-main > p {
    font-size: 20px;
    color: var(--grey);
}

.logotypes {
    width: 100%;
    height: 48px;
}

.logotypes > nav {
    display: flex;
    justify-content: space-around;
}

/* and main */

.services {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 140px 0px 80px 100px;
    h2 {
        background-color: var(--green);
        width: 178px;
        height: 51px;
        text-align: center;
        border-radius: 7px;
    }
    p {
        width: 580px;
    }
}


.services-block {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.cards-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.service-card {
    width: 600px;
    height: 310px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    border-radius: 45px;
    background-color: var(--grey);
    border: 1px solid var(--dark);
    box-shadow: 0px 5px 0px 1px var(--dark);
    img {
        width: 210px;
        height: 170px;
    }
    transition: 0.3s ease;
}
.service-card:hover {
    box-shadow: 0px 10px 15px 1px var(--dark);
    transform: scale(1.02);
}

.service-card > div {
    width: 221px;
    height: 210px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h3 {
        background-color: var(--green);
        border-radius: 7px;
    }
    a {
        margin-top: 93px;
        width: 164px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: black;
        img {
            width: 41px;
            height: 41px;
        }
    }
}

.service-card-dois {
    background-color: var(--green);
    div {
        h3 {
        background-color: white;
        }        
    }
}


.service-card-tres {
    background-color: var(--dark);
    div {
        h3 {
        background-color: white;
        } 
        a {
            color: white;
        }       
    }
}

.service-card-quatro {
    h3 {
        width: 100px;
    }
}

.service-card-cinco {
    background-color: var(--green);
    div {
        h3 {
            background-color: white;
            width: 137px;
        }
    }
}

.service-card-seis {
    background-color: var(--dark);
    div {
        a {
            color: white;
        }
    }
}
/* end section */

.lets-make-things-happen-block {
    width: 100%;
    height: 394px;
    margin-top: 100px;
}

.lets-make-things-happen-card {
    width: 90%;
    background-color: var(--grey);
    margin: 24px 100px;
    padding: 0px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 186px; */
    border-radius: 45px;
}

.lets-make-things-happen-text-and-button {
    width: 500px;
    height: 227px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 26px;
    button {
        width: 288px;
        height: 68px;
        background-color: var(--dark);
        border-radius: 14px;
        color: white;
        font-size: 20px;
    }
}
/* end section */

.line {
    width: 186px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    rotate: 90deg;
}

.case-studies-block {
    width: 100%;
    padding: 0 100px;
}

.case-studies-content {
    background-color: var(--dark);
    width: 100%;
    height: 326px;
    border-radius: 45px;
    padding: 70px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-study {
    width: 286px;
    height: 163px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    p {
        width: 100%;
        height: 115px;
        text-align: left;
        color: white;
    }
    a {
        height: 28px;
        text-decoration: none;
        color: var(--green);
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
/* end section */

.our-working-process {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 140px 0px 85px 100px;
    gap: 40px;
    h2 {
        background-color: var(--green);
        width: 412px;
        text-align: center;
    }
    p {
        width: 292px;
    }
}
/*  */

.process-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 100px;
}

.process-card {
    background-color: var(--grey);
    width: 100%;
    padding: 41px 60px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--dark);
    box-shadow: 0px 5px 0px 1px var(--dark);
}

.process-card-content {
    display: flex;
    justify-content: space-between;
}

.process-card-content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.process-card-content > div > h2 {
    font-size: 60px;
}

.process-card-content > div > h3 {
    font-size: 30px;
}

.process-card-line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.icon-mais {
    cursor: pointer;
}

.icon-menos {
    display: none;
    cursor: pointer;
}

.process-card-resposta {
    display: none;
    text-align: left;
}

.team {
    margin-top: 140px;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.team > div {
    background-color: var(--green);
    border-radius: 7px;
    width: 115px;
    height: 51px;
    text-align: center;
    margin-left: 107px;
}

.team > p {
    width: 473px;
}

/* team cards */
.team-cards-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
    margin-top: 80px;
}

.team-card {
    width: 387px;
    height: 331px;
    padding: 40px 35px;
    border-radius: 45px;
    border: 1px solid black;
    box-shadow: 0px 5px 0px 1px black;
    cursor: pointer;
    transition: 0.3s ease;
}

.team-card:hover {
    box-shadow: 0px 10px 15px 1px black;
    transform: scale(1.02);
}

.team-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.person {
    display: flex;

}

.person-name {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.linetrhee {
    width: 100%;
    height: 1px;
    background-color: black;
}
/* end team cards */

.team-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}

.team-btn > button {
    background-color: var(--dark);
    width: 269px;
    height: 68px;
    border-radius: 14px;
    color: white;
    font-size: 20px;
    margin: 40px 100px 90px 0px;
}

/* responsividade */
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    .main-image {
        max-width: 400px;
    }
    .logotypes {
        max-width: 80%;
    }
    .logotypes > nav {
        flex-wrap: wrap;
        gap: 20px;
    }
    .service-card {
        max-width: 450px;
        padding: 25px;
    }
    .lets-make-things-happen-card{
        width: 80%;
        padding: 0 40px;
    }
    .case-studies-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .case-studies-content {
        width: 80%;
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    .line {
        rotate: 0deg;
        width: 90%;
    }
}