@import url(./global.css);

body {
    width: 100%;
    height: auto;
}

.conteudo-principal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}


header {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

header > img {
    width: 220px;
    height: 56px;
}

header > nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

header > nav > a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

header > nav > a:hover {
    text-shadow: 0.5px 0.5px 0.5px var(--dark);
    transform: scale(1.05);
}

header > nav > a.active {
    color: var(--dark);
}

header > nav > button {
    width: 231px;
    height: 68px;
    border-radius: 14px;
    border: 1px solid var(--dark);
}

header > nav > button:hover {
    background-color: var(--dark);
    color: var(--grey);
}

main {
    width: 100%;
    display: flex;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
}

.main-text {
    width: 531px;
    height: 481px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.main-image {
    width: 600px;
    height: 515px;
}

.btn-main {
    width: 264px;
    height: 68px;
    background-color: var(--dark);
    border-radius: 14px;
}

.btn-main > p {
    font-size: 20px;
    color: var(--grey);
}

.logotypes {
    width: 100%;
    height: 48px;
}

.logotypes > nav {
    display: flex;
    justify-content: space-around;
}

/* and main */

.services {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 140px 0px 80px 100px;
    h2 {
        background-color: var(--green);
        width: 178px;
        height: 51px;
        text-align: center;
        border-radius: 7px;
    }
    p {
        width: 580px;
    }
}


.services-block {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.cards-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.service-card {
    width: 600px;
    height: 310px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    border-radius: 45px;
    background-color: var(--grey);
    border: 1px solid var(--dark);
    box-shadow: 0px 5px 0px 1px var(--dark);
    img {
        width: 210px;
        height: 170px;
    }
}

.service-card > div {
    width: 221px;
    height: 210px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h3 {
        background-color: var(--green);
        border-radius: 7px;
    }
    a {
        margin-top: 93px;
        width: 164px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: black;
        img {
            width: 41px;
            height: 41px;
        }
    }
}

.service-card-dois {
    background-color: var(--green);
    div {
        h3 {
        background-color: white;
        }        
    }
}


.service-card-tres {
    background-color: var(--dark);
    div {
        h3 {
        background-color: white;
        } 
        a {
            color: white;
        }       
    }
}

.service-card-quatro {
    h3 {
        width: 100px;
    }
}

.service-card-cinco {
    background-color: var(--green);
    div {
        h3 {
            background-color: white;
            width: 137px;
        }
    }
}

.service-card-seis {
    background-color: var(--dark);
    div {
        a {
            color: white;
        }
    }
}
/* end section */

.lets-make-things-happen-block {
    width: 100%;
    height: 394px;
    margin-top: 100px;
}

.lets-make-things-happen-card {
    width: 90%;
    background-color: var(--grey);
    margin: 24px 100px;
    padding: 0px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 186px; */
    border-radius: 45px;
}

.lets-make-things-happen-text-and-button {
    width: 500px;
    height: 227px;
    taxt-align: left;
    display: flex;
    flex-direction: column;
    gap: 26px;
    button {
        width: 288px;
        height: 68px;
        background-color: var(--dark);
        border-radius: 14px;
        color: white;
        font-size: 20px;
    }
}
/* end section */